<div class="photos btn-group row-fluid" data-toggle="buttons-radio">
  <% @photos.each do |p| %>
  <button class="btn span2"><img src="<%= p %>" /></button>
  <% end %>
</div>

<div class="names btn-group row-fluid" data-toggle="buttons-radio">
  <% @names.each do |n| %>
  <button class="btn span2"><%= n %></button>
  <% end %>
</div>
