<div class="status row">
  <span class="span2">
    <div class="score value"><%= score %></div>
    <div class="label">Score</div>
  </span>
  <span class="span2">
    <div class="round value">10</div>
    <div class="label">Round time remaining (sec)</div>
  </span>
  <span class="span2">
    <div class="game value">100</div>
    <div class="label">Game time remaining (sec)</div>
  </span>
  <span class="span6 info"></span>
</div>

<div class="gameboard-container">
  <div class="gameboard">

    <div class="game-input">
      <div class="photos btn-group row" data-toggle="buttons-radio">
        <% @photos.each do |p| %>
        <button class="btn span2" data-action="select-photo"><img src="<%= p %>" /></button>
        <% end %>
      </div>

      <div class="names btn-group row" data-toggle="buttons-radio">
        <% @names.each do |n| %>
        <button class="btn span2" data-action="select-name"><%= n %></button>
        <% end %>
      </div>
    </div>
  </div>

  <div class="business-cat hidden">
    <img class="taunt" src="" />
  </div>
</div>

<div class="result-stripe row">
  <div class="span2 result"></div>
  <span class="span10">
    <div class="correct-text hidden">correct</div>
    <div class="incorrect-text hidden">incorrect</div>
  </span>
</div>

<div class="row solution hidden">
  <div class="span2 title">The correct answer is:</div>
  <div class="span3">
    <div class="answer-photo"></div>
    <div class="answer-name"></div>
  </div>
</div>
