<div class="body well">
  <small>Game Over</small>
  <h1>Your score: <%= score %></h1>

  <a href="/">&lsaquo; Home</a> | <a href="/game/scores">High Scores</a>

  <div class="business-cat">
    <%= image_tag 'home.jpg'%>
  </div>
</div>
