<a href="https://github.com/jmouel/socialnamegame"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

<div class="hero-unit centered">
  <h1>Social Name Game</h1>
  <p>How well do you know your network?</p>
  <% if current_user %>
    <%= image_tag current_user.photo_url %> <%= current_user.name %>
    <%= link_to "[Sign out]", signout_path %>
    <div class="play">
      <button class="btn btn-success btn-large" onclick="window.location='/game/begin_round'">Play!</button>
    </div>
  <% else %>
    <div class="signin">
      <span>Sign in with:</span>
      <a href="/auth/twitter"><i class="twitter-provider-logo"></i></a>
      <a href="/auth/facebook"><i class="facebook-provider-logo"></i></a>
      <a href="/auth/linkedin"> <i class="linkedin-provider-logo"></i></a>
      <a href="/auth/salesforce"><i class="salesforce-provider-logo"></i></a>
    </div>
  <% end %>
  <div class="business-cat">
    <%= image_tag 'home.jpg'%>
  </div>
</div>