<div class="hero-unit">
  <h1>Social Name Game</h1>
  <p>How well do you know your network?</p>
  <p>
    <button class="btn btn-success btn-large" onclick="window.location='/game/begin_round'">Play!</button>
  </p>
</div>
