# settings.yml.sample
development:
  salesforce:
    key: 'AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA'
    secret: 'BBBBBBBBBBBBBBBBBBB'

  twitter:
    key: 'CCCCCCCCCCCCCCCCCCCCCC'
    secret: 'DDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD'

  linkedin:
    key: 'EEEEEEEEEEEE'
    secret: 'FFFFFFFFFFFFFFFF'

  facebook:
    key: 'GGGGGGGGGGGGGGG'
    secret: 'HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH'

  maxContacts: 500