@mixin provider-logo($url)
  background: image-url("#{$url}_logo_32.png") center center no-repeat
  width: 32px
  height: 32px
  display: inline-block

.salesforce-provider-logo
  @include provider-logo('salesforce')

.facebook-provider-logo
  @include provider-logo('facebook')

.linkedin-provider-logo
  @include provider-logo('linkedin')

.twitter-provider-logo
  @include provider-logo('twitter')

.signin
  span
    vertical-align: top
    font-size: 16px
    line-height: 32px
    margin-right: 10px

@mixin box-shadow($h, $v, $radius, $spread, $color)
  -webkit-box-shadow: $h $v $radius $spread $color
  -moz-box-shadow: $h $v $radius $spread $color
  box-shadow: $h $v $radius $spread $color

.btn
  padding: 10px
  &:hover
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#0074CC))
    background-color: #0074CC
    color: #fff

.btn.active
  @include box-shadow(1px, 1px, 24px, 0, #0074CC)
  font-color: #62C462
  font-weight: bold
  opacity: 1.0 !important

.photos
  margin-left: 4px
  margin-top: 20px
  margin-bottom: 20px

  img
    width: 148px

.selected
  .btn
    opacity: .5
    -webkit-transition: opacity .5s ease-in
    -moz-transition: opacity .5s ease-in
    -o-transition: opacity .5s ease-in
    -ms-transition: opacity .5s ease-in
    transition: opacity .5s ease-in

.names
  .btn
    font-size: 18px

.result
  width: 100%
  margin-top: 40px
  .name
    font-size: 18px
    font-weight: bold
    display: block
    clear: left

.correct
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#62C462))
  font-size: 96px
  font-weight: bold
  color: #fff
  margin-top: 40px
  padding-left: 40px
  padding-top: 60px
  height: 90px

.incorrect
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#DA4F49))
  font-size: 96px
  font-weight: bold
  color: #fff
  margin-top: 40px
  padding-left: 40px
  padding-top: 60px
  height: 90px


